.libs
.deps
.vscode
*.la
*.lo
*.o
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
config.*
config
configure
librcsc-config
librcsc.pc
librcsc.spec
librcscenv
libtool
m4/lt*
m4/libtool.m4
object_table_printer
rcg2csv
rcg2txt
rcgrenameteam
rcgresultprinter
rcgreverse
rcgverconv
rcgversion
rclmscheduler
rclmtableprinter
stamp-h1
tmp
thermo_color_test

